@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #309975;
    background-size: cover;
}

.Form-login {
    margin: 6.5rem auto;
}

.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.judul {
    padding-left: 88px;
    color: #309975;
    font-family: 'Nunito', sans-serif;
}

.field {
    font-family: 'Poppins', sans-serif;
}

.input {
    padding-bottom: 1rem;
}

.input-text {
    display: block;
    width: 85%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #309975 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    border-radius: 0;
    background-color: #fff;
}

.input-text:focus {
    color: black;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 85%;
    background-color: #309975;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    border: 2px solid;
    color: #309975;
    cursor: pointer;
}

.btn1:focus {
    outline: none;
}

.logo {
    height: 12vh;
}

.judul h1 h4 {
    float: right;
}

/* Register */

.Form-register {
    margin: 5rem auto;
    width: 45%;
}

.field-register {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.input-register {
    padding-bottom: 1rem;
    margin-left: 6rem;
}

.text-register {
    display: block;
    width: 80%;
    border: solid 2px #309975 !important;
    border-style: solid !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
}

.text-register:focus {
    color: black;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

.field-register h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: #309975;
}

.daftar {
    outline: none;
    border: none;
    background-color: #309975;
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    width: 18%;
    height: 40px;
    cursor: pointer;
}

.daftar:hover {
    border: solid 2px;
    color: #309975;
    background-color: #fff;
}

.daftar:focus {
    outline: none;
}

.back {
    outline: none;
    border: none;
    float: left;
    margin-left: 1rem;
    background-color: #309975;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    width: 18%;
    height: 40px;
    cursor: pointer;
}

.back:hover {
    border: solid 2px;
    color: #309975;
    background-color: #fff;
}

.back:focus {
    outline: none;
}

@media (max-width: 575.98px) {
    .gambar {
        display: none;
    }
    .Form-login {
        margin: 10rem 2rem;
    }
    .judul {
        padding-left: 10px;
        margin-top: 20px;
    }
    .logo {
        height: 7vh;
    }
    .judul h4 {
        font-size: 15px;
    }
    .judul h1 {
        font-size: 24px;
    }
    .input {
        padding-bottom: 1px;
    }
    .input-text {
        font-size: 15px;
        width: 100%;
    }
    .btn1 {
        width: 100%;
        height: 40px;
        font-size: 15px;
    }
    .field a, p {
        font-size: 15px;
    }
    /* Register */
    .Form-register {
        width: 85%;
    }
    .input-register {
        margin-left: 2rem;
    }
    .text-register {
        font-size: 15px;
        width: 90%;
    }
    .daftar, .back {
        font-size: 15px;
        width: 25%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .gambar {
        display: none;
    }
    .judul {
        margin-top: 10px;
        padding-left: 10px;
    }
    .logo {
        height: 20vh;
    }
    .field {
        padding-left: 30px;
    }
    .input-text, .btn1 {
        width: 90%;
    }
    /* Register */
    .Form-register {
        width: 85%;
    }
    .input-register {
        margin-left: 5rem;
    }
    .text-register {
        font-size: 15px;
        width: 80%;
    }
    .daftar, .back {
        font-size: 15px;
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
        height: 11vh;
    }
    .judul {
        padding-left: 10px;
    }
    .input-text, .btn1 {
        width: 100%;
    }
    /* Register */
    .Form-register {
        width: 60%;
    }
    .input-register {
        margin-left: 5rem;
    }
    .text-register {
        font-size: 15px;
        width: 80%;
    }
    .daftar, .back {
        font-size: 15px;
        width: 20%;
    }
}